In [2]:
#Write a Python program to insert a new item before the second element in an existing list.
item =[1,3,4,5,6]
item.insert(1,2)
item

[1, 2, 3, 4, 5, 6]

In [23]:
#write a Python program to find the first duplicate element in a given list of integers. Return -1 If there are no such elements
def find_duplicate_element(values):
  for i in range(len(values)):
      for j in range(i+1,len(values)):
          if values[i]==values[j]:
              return values[j]
  return -1            
x=find_duplicate_element(values=[4,6,3,5])
y=find_duplicate_element(values=[4,6,3,6,5])
print(x,y)

-1 6

In [ ]:
#Write a Python program to convert temperatures to and from celsius, fahrenheit.

In [27]:
#Write a Python program to construct the following pattern, using a nested for loop.

for i in range(5):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(5,0,-1):
    for j in range(i):
        print('* ',end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [33]:
#Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.  Note : Use 'continue' statement. 
for i in range(0,6):
    if i==3 or i==6:
      continue
    print(i)

0
1
2
4
5

In [39]:
#Write a Python function to check whether a string is a pangram or not. Note :
# Pangrams are words or sentences containing every letter of the alphabet at least once.

def ispangram(str):
   all = "abcdefghijklmnopqrstuvwxyz"
   for i in all:
      if i not in str.lower():
         return False
   return True

string = 'imi is the best!'
if(ispangram(string) == True):
   print('yes')
else:
   print('no')

no

In [45]:
#Write a Python program to sort a tuple by its float element.
#Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
#Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

data= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sorted_data = sorted(data,key=lambda x:float(x[1]), reverse=True)

print(sorted_data)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [61]:
#Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
num = [1,2,3,4,5,6]
print(num)
num = [x for (i,x) in enumerate(num) if i not in (0,4,5)]
print(num)

[1, 2, 3, 4, 5, 6]
[2, 3, 4]

In [79]:
#Write a Python program to convert more than one list to nested dictionary.
def nested_dictionary(first_string, second_string, third_string):
     result = [{x: {y: z}} for (x, y, z) in zip(first_string, second_string, third_string)]
     return result

first_string = ["imran", "sornali", "rukon", "dhurobo"] 
second_string = ["cse", " cse", "cse", "cse"] 
third_string = [181, 182, 183, 184]
print("Before nested:")
print(first_string)
print(second_string)
print(third_string)

x=nested_dictionary(first_string, second_string, third_string)
print('After nested dictionary:',x)

Before nested:
['imran', 'sornali', 'rukon', 'dhurobo']
['cse', ' cse', 'cse', 'cse']
[181, 182, 183, 184]
After nested dictionary: [{'imran': {'cse': 181}}, {'sornali': {' cse': 182}}, {'rukon': {'cse': 183}}, {'dhurobo': {'cse': 184}}]

In [81]:
#Write a Python program to filter the height and width of students, which are stored in a dictionary.
def filter_data(orginal_data):
    result = dict(filter(lambda x: (x[1][0], x[1][1]) > (6.0, 70), students.items()))
    return result  
orginal_data = {'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
print("Original Dictionary:")
print(orginal_data)
print("height and width of students:")
print(filter_data(orginal_data))

Original Dictionary:
{'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
height and width of students:
{'Cierra Vega': (6.2, 70)}